/*
	* ----------------------------------------------------------------------------
        _  _        _                 _                                 _                                               
    ___| |(_) ___ _| |_  ____ _____ _| |_  ___   ___  _   _  _____  ___| |  _     _   _     _       _  _   _   _        
   / __  || |/ __|__  _|/ _  |  _  |_   _|/ __| / _ \| | | ||  _  |/ __  | |_| | |_  |_  | | |  /|   |  | |_  |_   /|   
  | (__| || |\__ \ | |_  (_| | | | | | |_ \__ \| |_| | |_| || | | | (__| |  _  |   |   | | | | |_|  _|  | | | | | |_|   
   \_____||_||___/ |___|\____|_| |_| |___||___/ \___/|_____||_| |_|\_____| |_| |  _|  _| | |_|   | |_   | |_| |_|   |   
   
  * CSS Document Css sub Start 
	* Author: DistantSound 
	* IDE :     
  * ---------------------------------------------------------------------------------------------
*/ 
  .bg-1{background-image: url(../images/bg-2.png);}
  .bg-2{background-image: url(../images/bg-2.png);}

	.nav-fixed-openclose{width:.45rem;height:.45rem;position:fixed;right:.1rem;top:.1rem;z-index:9999;background-color: rgba(249, 246, 246, .9);}
	.nav-fixed-openclose .hader-nav-open, 
	.nav-fixed-openclose .hader-nav-close{width:.45rem;height:.45rem;line-height:.45rem;font-size:18px;}
 
  .hader{width:60%;height:100%;height:100vh;position:fixed;right:-60%;z-index:9990; background-color: rgba(233, 233, 233, .95);text-align:center;overflow-x:hidden; overflow-y:auto;}
	.hader .hader-container{display: inline-block;width: calc(100% - .3rem);padding:0 .15rem;}
  .hader .top-logo{width:100%;margin-top:.8rem;margin-bottom:.2rem;} 
  .hader .top-logo img{width:auto;} 
  .hader .r-box,
	.hader .nav-fixed,
	.hader .nav-fixed .nav-ul{width:100%;}
	.hader .nav-fixed .nav-li,
	.hader .nav-fixed .sub-li{width:100%;line-height:.5rem;}
	.hader .nav-fixed .nav-li > .a-link,
	.hader .nav-fixed .nav-li > .link-h2{width:100%;line-height:.5rem;font-size:.18rem;text-align:left;}
	.hader .nav-fixed .sub-ul{width:100%;position:relative; left:0;top:0;border-radius:.03rem;background-color: rgba(249, 246, 246, .9);}
	.hader .nav-fixed .e-em{background-color:#006de4;height:.01rem;position:absolute;bottom:.3rem;left:0;transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-o-transform: scale(0);display:none;}
	.hader .nav-fixed .sub-li > .a-link{font-size:.16rem;line-height:.5rem;padding:0 .2rem;text-align:left;}
	.hader .nav-fixed .sub-li > .a-link .icon-font{font-size:.2rem;margin-right:.06rem;}
	.hader .nav-fixed .sub-ul .em-arrow{width:.2rem;height:.2rem; line-height:.2rem;font-size:16px;color:#fff;margin-top:-.13rem;margin-right:.3rem;display:none;}
	.hader .nav-fixed .nav-li:hover .sub-ul{display:block;}  
	.hader .nav-fixed .active .link-h2 > a,
	.hader .nav-fixed .active > .a-link{color:#1c78d3;} 

	.section-banner{width:100%;padding-top:.3rem;margin-top:0; }
	.section-banner .animation-box{width:100%;padding:0;margin-top:0;overflow:hidden;}
	.section-banner .animation-box .animation-pic{left:0;top:0;}
	.section-banner .animation-box-1{width:100%;padding:.3rem 0 0 0;margin-top:0;overflow:hidden;}
	.section-banner .animation-box-1 .animation-pic{left:0;bottom:0;margin-top:.2rem;z-index:0;}
  .section-banner .div-box  .h-1-1{text-align:center;font-size:.36rem;font-weight: 400;padding-top:.2rem ;}
  .section-banner .div-box .h-1{text-align:center;font-weight: 400;} 
  .section-banner .div-box .s-span-1{width:100%;text-align:center;line-height:.3rem; font-size:.16rem;}
  .section-banner .div-box .s-span-2{width:100%;padding:.1rem 0;text-align:center;line-height:.35rem;font-size:.18rem;}
  .section-banner .div-box .s-span-3{padding:.2rem 0;text-align:center;white-space:nowrap;font-size:.38rem;font-weight: 500;line-height:.6rem;}

  .section-1 {padding:.3rem 0;}
  .section-1 .animation-box{width:90%;margin:0 auto;text-align:center;}
  .section-1 .animation-box .animation-pic{width:100%;left:0;top:0;}
  .section-1 .h-h3{margin-top:.2rem;}
  .section-1 .e-em{height:.05rem;width:.5rem;}
  .section-1 .h-3{padding:.2rem 0;}
  .section-1 .display-4{font-size: .34rem;}
 
  .section-2 {padding-bottom:.6rem;}
  .section-2 .display-4{font-size: .28rem;}
  .section-2 .h-5{padding:.4rem 0;}
  .section-2 .h-5 .s-span{padding:0 .03rem; white-space:nowrap; }
  .section-2 .a-link{padding:.25rem;}
  .section-2 .a-link .e-em{width:.8rem;height:.8rem;line-height:.8rem;padding:.02rem;}
  .section-2 .a-link .e-em .icon-font{width:100%;font-size: .6rem;}
  .section-2 .a-link .h-3{margin:.3rem 0;}  
  .section-2 .a-link .p-text-18{padding-bottom:.5rem;}
  .section-2 .a-link:hover .h-3,
  .section-2 .a-link:hover .icon-font,
  .section-2 .a-link:hover .p-text-18{color:#fff;}
  .section-2 .a-link:hover .e-em{background-color:#7db0d3; }

	.section-3 .div-row{padding:.5rem 0;}
	.section-3 .a-link{height:100%; padding:0 .25rem;cursor: default;}
	.section-3 .animation-box{height:100%; }
	.section-3 .animation-box .animation-pic{left:0;top:0;}
	.section-3 .a-link .h-3{margin:.4rem 0;}
	.section-3 .a-link .e-em{width:.4rem;height:.4rem;line-height:.4rem;margin-right:.05rem;padding:.02rem;}
	.section-3 .a-link i{width:100%;font-size: .28rem;font-weight:400;}
	.section-3 .a-link .p-text-18{height:2.8rem;text-align:center;}

  .section-4 {padding-bottom:.2rem;}
  .section-4 .div-row{margin:.5rem 0;} 
	.section-4 .figure .h-5{padding:0 .2rem;}
  .section-4 .figure .p-text-18{padding:0 .2rem;}
  .section-4 .figure .s-span{line-height:.5rem;padding:0 .24rem;font-size: .18rem;}
  .section-4 .figure:hover h5{color:#1c78d3;}

  .section-5{}
  .section-5 .h-5{padding:.4rem 0;}
	.section-5 .h-5 .s-span{padding:0 .03rem; white-space:nowrap;}
	.section-5 .div-row{padding-bottom:.5rem;}
  .section-5 .div-box{width:100%;}
  .section-5 .div-box .p-text-22{padding:.1rem .15rem;line-height:.45rem;font-weight: 400;}

  .section-6{padding:.6rem 0;} 
  .section-6 .l-box .c-box{width:100%;margin-top:.3rem;}
  .section-6 .l-box .display-4{width:100%;}
  .section-6 .l-box .s-span-2{width:100%;margin-top:.15rem;line-height:.35rem;font-size:.18rem;}
  .section-6 .l-box .s-span-3{width:100%;line-height:.4rem;margin-top:.15rem;font-size: .18rem;}
  .section-6 .l-box .icon-font{font-size:.26rem;line-height:.45rem;margin-right:.05rem;}
  .section-6 .l-box .l-div,
  .section-6 .l-box .r-div{width:100%;}
  .section-6 .l-box .pic-img{width:auto;margin:.2rem 0;}
	.section-6 .r-box{width:100%;margin-top:.35rem;}
	.section-6 .r-box .h-5{width:100%;width:calc(100% - .02rem);height:.5rem;line-height:.5rem;margin-bottom:.15rem;}
	.section-6 .r-box .h-5:nth-child(2n-1){float:left;}
	.section-6 .r-box .h-5:nth-child(2n){float:left;}
	.section-6 .r-box .h-5 .info-input{width:calc(100% - .85rem);height:.5rem;line-height:.5rem;font-size: .16rem;outline:none;}
  .section-6 .r-box .l-span{width:.8rem;height:.5rem;line-height:.5rem;}
  .section-6 .r-box .s-span{width:.8rem;height:.5rem;line-height:.5rem;font-size: .18rem;}
  .section-6 .r-box .textarea-box{width:100%;width:calc(100% - .02rem);}
  .section-6 .r-box .p-text-16{width:97%; height:1.2rem;padding:.15rem 1.5%;outline:none;font-size: .16rem;font-weight:400;}    
  .section-6 .r-box .btn-1{height:.5rem;line-height:.5rem; padding:0 .35rem;border-radius:.05rem;font-size: .22rem;}

  .section-7 {padding-bottom:.2rem;}
  .section-7 .div-row{margin:0;} 
	.section-7 .div-box .h-4{width:100%;padding:.1rem 0;font-size: .38rem; }
	.section-7 .div-box .h-5{width:100%;text-align: left;padding:.1rem 0;}
  .section-7 .div-box .p-text-18{width:100%;padding:.1rem 0;}
  .section-7 .div-box .s-span{line-height:.5rem;padding:0;font-size: .18rem;margin-right:.3rem;}
  .section-7 .div-box .btn{width:1rem;margin-top:.15rem;font-size: .18rem;}
  .section-7 .video-box{width:100%;padding:.1rem 0;background-color:#000;}

  .section-8{margin-top:-.5rem;}
  .section-8 .h-5{padding:.4rem 0;}
  .section-8 .h-5 .s-span{padding:0 .03rem; white-space:nowrap;}
  .section-8 .pic-img{width:100%;margin-bottom:.5rem;}

  .section-9{margin-top:.3rem;}
  .section-9 .h-5{padding:.4rem 0;}
  .section-9 .h-5 .s-span{padding:0 .03rem; white-space:nowrap;}
  .section-9 .div-row{padding-bottom:.6rem;}
  .section-9 .div-row .figure{margin:0;}
  .section-9 .div-row .pic-img{width:100%;}
  .section-9 .div-row .fig-caption{ line-height:.4rem; padding:0 .2rem; margin-top:.2rem;height:1.2rem;text-align:center;border-top:1px solid #1c78d3;border-bottom:1px solid #1c78d3;}

  .section-10{}
	.section-10 .div-row{padding:.5rem 0;}
	.section-10 .a-link{height:100%; padding:0 .25rem;margin:0 ;cursor: default;}
	.section-10 .a-link .h-3{margin:.3rem 0;  font-size:.32rem;line-height:.4rem;font-weight:400;}
	.section-10 .a-link .e-em{ width:.6rem;height:.6rem;line-height:.6rem;margin-right:.05rem;padding:.02rem;}
	.section-10 .a-link .icon-font{width:100%;font-size: .4rem;}
	.section-10 .a-link .p-text-18{ width:100%;height:2.6rem;text-align:left;}

  .section-11{}
  .section-11 .div-row .col-div{margin-bottom:.35rem;}
	.section-11 .div-row{padding:.5rem 0;}
	.section-11 .div-box {margin:0 .05rem;;}	 
	.section-11 .div-box .h-3{margin:.1rem .05rem;line-height:.5rem;}
	.section-11 .div-box .h-1{padding:.15rem 0;font-size:.5rem;}
	.section-11 .div-box .h-5{margin:.1rem .05rem .1rem .05rem;line-height:.5rem;}

  .section-12{margin-top:-.6rem;margin-bottom:-.5rem;}
	.section-12 .div-row{padding:.5rem 0;}
  .section-12 .div-row .col-div{margin-bottom:.35rem;}
	.section-12 .div-box {margin:0 .05rem;}	 
	.section-12 .div-box .h-3{margin:.1rem .05rem;padding-top:.15rem;}
	.section-12 .div-box .h-1{padding:.15rem 0;font-size:.5rem;}
	.section-12 .div-box .h-5{margin:.05rem ;line-height:.5rem;}
	
  .section-13{}
	.section-13 .div-row{padding:.5rem 0;}
	.section-13 .a-link{height:100%; padding:0 .25rem;margin:.2rem 0;cursor: default;}
	.section-13 .a-link .h-3{margin:.3rem 0;  font-size:.32rem;line-height:.4rem;font-weight:400;}
	.section-13 .a-link .e-em{width:.6rem;height:.6rem;line-height:.6rem;margin-right:.05rem;padding:.02rem;position:absolute;left:.3rem; top:-.3rem;}
	.section-13 .a-link .icon-font{width:100%;font-size: .36rem;}
	.section-13 .a-link .p-text-18{ width:100%; height:1rem; text-align:center;}

  footer .pic-img{width:100%;}
  footer address{margin-bottom:.35rem;}
  
/*col-sm*/
@media (min-width: 576px) {
  .section-1 {padding:.45rem 0;}
  .section-1 .h-h3{margin-top:.4rem;}
  .section-1 .display-4{font-size: .38rem;}
  .section-2 .display-4{font-size: .38rem;}
  .section-4 .figure .s-span{padding:0 .55rem;}
  .section-6 .l-box .l-div{width:75%;}
  .section-6 .l-box .r-div{width:25%;}
  .section-6 .l-box .pic-img{float:left; margin-top:.15rem;}
	.section-10 .a-link .p-text-18{ width:100%;height:2rem;text-align:left;}
 	.section-11 .div-box .h-3 .s-spa{float:left;width:100%;line-height:.5rem;}  
  .section-12{margin-top:-1rem;}
}

/*col-md*/
@media (min-width:768px) {
  .section-2 .a-link .p-text-18{height:1.5rem;}
	.section-3 .div-box .a-link{height:4rem;}
	.section-3 .animation-box{width:90%;   padding:0 5%;}
  .section-4 .figure .s-span{width:30%;padding:0 .9rem;}  
  .section-4 .figure .p-text-18{height:1.2rem;} 
  .section-6 .r-box{margin-top:.35rem;}
	.section-13 .a-link .p-text-18{ width:100%; height:1.2rem; text-align:center;}
  footer{height:1.5rem;}
  footer address{margin-top:.5rem;} 
}

/*col-lg*/
@media (min-width: 992px) {
  .section-banner .div-box .h-1{margin-top:.9rem;padding-top:0;text-align:left;font-weight: 400;} 
  .section-banner .div-box  .h-1-1{text-align:left;font-size:.36rem;font-weight: 400;padding-top:.2rem ;margin-top:.3rem;}
  .section-banner .div-box .s-span-1,
  .section-banner .div-box .s-span-2{text-align:left;}
  .section-banner .div-box .s-span-3{margin-top:1.1rem;}
  .section-1 .h-h3{margin-top:.65rem;}
  .section-1 .animation-box{width:100%;}
  .section-2 .div-box{padding:0 .1rem;} 
  .section-2 .a-link{height:4.2rem;}
	.section-3 .div-box{padding:0 .1rem;} 
	.section-3 .div-box .a-link{height:4.5rem; padding:0 .25rem;}
	.section-3 .a-link .p-text-18{text-align:left;} 
	.section-3 .animation-box{width:100%;height:4.5rem;padding:0;}
	.section-3 .animation-box .animation-pic{width:3rem;height:3rem;position:absolute;left:50%;top:50%; margin-top:-1.5rem;margin-left:-1.5rem;     }
  .section-4{padding-bottom: .2rem;}
	.section-4 .figure{padding:0 .1rem;}
	.section-4 .figure .pic-img{width:100%; }
	.section-4 .figure .s-span{padding:0 .12rem;}
	.section-4 .figure .p-text-18{height:2rem; padding:0 .2rem;}
  .section-5 .div-box{width:auto;margin:0 .15rem;}
  .section-5 .div-box .p-text-22{padding:.1rem .15rem;line-height:.45rem;font-size:.2rem;font-weight: 400;}
  .section-6 .l-box,
  .section-6 .r-box{margin-top:0;}
  .section-6 .l-box .l-div{width:75%;}
  .section-6 .l-box .r-div{width:25%;}
  .section-6 .l-box .pic-img{width:100%;margin:.2rem 0; }
  .section-7 .div-box .btn{float:left;} 	
  .section-8{margin-top:.3rem;}
  .section-9{margin-top:.3rem;}
  .section-9 .div-row .figure{margin:0 .15rem;}
	.section-10 .a-link{height:100%; padding:0 .25rem;margin:0 .15rem;cursor: default;}
	.section-13 .a-link{height:100%; padding:0 .25rem;margin:.2rem .15rem;cursor: default;}	
	.section-13 .a-link .h-3{width:100%; text-align:center;  font-size:.32rem;line-height:.6rem;font-weight:400;}
 	footer .a-link{margin-top:.45rem;} 
  footer address{margin-top:.6rem;} 
}

/*col-xl*/
@media (min-width: 1200px) {
  .hader{width:100%;height:0;position:static;text-align:center;overflow-y:hidden;z-index:9999;}
	.hader .hader-c{width:100%;height:.99rem;position:fixed;top:0;left:0;z-index:9990;background-color: rgba(255, 255, 255, .96);}
	.hader .hader-container{width:12rem;padding:0;height:1rem;}
  .hader .hader-active{border-bottom:1px solid #f4f5f7;}
  .hader .top-logo{width:3rem;margin-top:.2rem;} 
  .hader .top-logo img{width:auto;} 
  .hader .r-box{width:auto;height:1rem;}
	.hader .nav-fixed,
	.hader .nav-fixed .nav-ul{}
	.hader .nav-fixed .nav-li{width:1.2rem;height:1rem;line-height:1rem;}
	.hader .nav-fixed .sub-li{width:100%;line-height:.6rem;}
	.hader .nav-fixed .nav-li > .a-link,
	.hader .nav-fixed .nav-li > .link-h2{width:100%;line-height:1rem;font-size:.18rem;text-align:left;text-align:center;font-weight:400;}
	.hader .nav-fixed .sub-ul{width:2.4rem;height:1.8rem; position:relative; left:-1rem;top:0;border-radius:.03rem;background-color: rgba(249, 246, 246, .98);display:none;}
	.hader .nav-fixed .e-em{display:block;}
	.hader .nav-fixed .sub-li > .a-link{font-size:.18rem;line-height:.5rem;padding:0 .2rem;text-align:left;font-weight:400;}
	.hader .nav-fixed .sub-li > .a-link .icon-font{font-size:.24rem;margin-right:.06rem;}
	.hader .nav-fixed .sub-ul .em-arrow{display:block;width:.2rem;height:.2rem; line-height:.2rem;font-size:.2rem;margin-right:.6rem; color: rgba(249, 246, 246, .98);transform: rotateZ(180deg);-webkit-transform: rotateZ(180deg);-moz-transform: rotateZ(180deg);}
	.hader .nav-fixed .nav-li:hover .sub-ul{display:block;}  
	.hader .nav-fixed  .e-em{height:.02rem;position:absolute;bottom:.25rem;left:0;transform: scale(0);-webkit-transform: scale(0);-moz-transform: scale(0);-o-transform: scale(0); }
	.hader .nav-fixed .active .e-em,
	.hader .nav-fixed .nav-li:hover .e-em{transform: scale(.8);-webkit-transform: scale(.8);-moz-transform: scale(.8);-o-transform: scale(.8);}
  .section-banner{width:100%;height:4.35rem;margin-top:1rem;padding:0;}
  .section-banner .div-box .h-1{width:calc(100% - 1rem);margin-top:1.2rem;padding-top:0;padding-left:1rem;text-align:left;font-weight: 400;} 
  .section-banner .div-box  .h-1-1{width:calc(100% - 1rem);text-align:left;font-size:.36rem;font-weight: 400;padding-top:.2rem ;padding-left:1rem;margin-top:.6rem;}
  .section-banner .div-box .s-span-1,
  .section-banner .div-box .s-span-2{width:calc(100% - 1rem);text-align:left;padding-left:1rem;}
	.section-banner .animation-box-1{width:100%;padding:0;margin-top:0;overflow:hidden;}
	.section-banner .animation-box-1 .animation-pic{height:4.35rem;left:0;top:0;margin:0;}
  .section-banner .div-box .s-span-3{margin-top:1.1rem;} 
  .section-1 {padding:.3rem 0;margin-top:1rem;}
  .section-1 .h-h3{margin-top:1.2rem;}
  .section-2{height:8rem; }
  .section-2 .a-link{padding:.25rem;}
	.section-3 .animation-box .animation-pic{width:3.8rem;height:3.8rem; left:50%;top:50%; margin-top:-1.9rem;margin-left:-1.9rem; }
	.section-4{height:9.3rem;padding:0;}
	.section-4 .figure .pic-img{width:100%;height:2.8rem;}
	.section-4 .figure .h-5{padding:0 .2rem;}
  .section-4 .figure .p-text-18{height:1.6rem;}
  .section-4 .figure .s-span{line-height:.5rem;padding:0 .24rem;font-size: .18rem;}
  .section-6 .l-box .c-box{margin-top:.4rem;}
  .section-6 .r-box .h-5:nth-child(2n-1){float:left;width:48%; }
  .section-6 .r-box .h-5:nth-child(2n){float:right;width:48%; }
  .section-6 .r-box .textarea-box{width:100%;}
  .section-6 .r-box .p-text-16{width:97%;padding:.15rem 1.5%;height:1.3rem;outline:none;}
}	

/* animation */
.my-rotate-y{
	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
	-webkit-animation:myrotateY 2s linear infinite;
	   -moz-animation:myrotateY 2s linear infinite;
	        animation:myrotateY 2s linear infinite;
	}		 
	@-webkit-keyframes myrotateY{
		0%   {-webkit-transform:rotateY(0deg);}
		100% {-webkit-transform:rotateY(360deg);}
	}
	@-moz-keyframes myrotateY{0%  {
		-moz-transform:rotateY(0deg);}
		100% {-moz-transform:rotateY(360deg);}
	}
	@keyframes myrotateY{
		0%   {transform:rotateY(0deg);}
		100% {transform:rotateY(360deg);}
	}
.my-flash{
  -webkit-animation:myflash 1s 1.2s ease infinite;
     -moz-animation:myflash 1s 1.2s ease infinite;
        	animation:myflash 1s 1.2s ease infinite;
  }
	@-webkit-keyframes myflash{
		0%,50%,100%{opacity: 1;}
		25%,75%{opacity: .8;}
	}
	@-moz-keyframes myflash{
	  0%,50%,100%{opacity: 1;}
	  25%,75%{opacity:.8;}
	}
	@keyframes myflash{
	  0%,50%,100%{opacity: 1;}
	  25%,75%{opacity:.8;}
	}
.my-rollpic{
	-webkit-animation:myrollpic 8s linear infinite;
	   -moz-animation:myrollpic 8s linear infinite;
	        animation:myrollpic 8s linear infinite;	
	} 
	@-webkit-keyframes myrollpic{
		from{-webkit-transform:translateX(0%); opacity: 1;}
		to  {-webkit-transform:translateX(-100%);opacity:.8;} 
	}
	@-moz-keyframes myrollpic{
		from{-moz-transform:translateX(0%); opacity: 1;}
		to{-moz-transform:translateX(-100%);opacity:.8;} 
	}
	@keyframes myrollpic{
		from{transform:translateX(0%); opacity: 1;}
		to{transform:translateX(-100%);opacity:.8;} 
	}
.my-rotatepic{	
	-webkit-animation:myrotatepic 2s cubic-bezier(0.05, 0.85, 0.33, 0.66) infinite;
	   -moz-animation:myrotatepic 2s cubic-bezier(0.05, 0.85, 0.33, 0.66) infinite;
	        animation:myrotatepic 2s cubic-bezier(0.05, 0.85, 0.33, 0.66) infinite;	
	}
	@-webkit-keyframes myrotatepic{
		0%  { -webkit-transform:rotateZ(-36deg);}
		50% { -webkit-transform:translateZ(-18deg);} 
		100%{ -webkit-transform:translateZ(0deg);} 
	}
	@-moz-keyframes myrotatepic{
		0%  { -moz-transform:rotateZ(-36deg); }
		50% { -moz-transform:translateZ(-18deg); } 
		100%{ -moz-transform:translateZ(0deg); } 
	}
	@keyframes myrotatepic{
		0%  { transform:rotateZ(-36deg); }
		50% { transform:translateZ(-18deg);} 
		100%{ transform:translateZ(0deg);} 
	}
.my-twinklepic{
	-webkit-animation:mytwinkle 1s .1s ease infinite;
	-moz-animation:mytwinkle 1s .1s ease infinite;
	}
	@-webkit-keyframes mytwinkle{
		0%,50%,100%{opacity: 1;}
		25%,75%{opacity: .6;}
	}
	@-moz-keyframes mytwinkle{
		0%,50%,100%{opacity: 1;}
		25%,75%{opacity: .6;}
	}
	@keyframes mytwinkle{
		0%,50%,100%{opacity: 1;}
		25%,75%{opacity: .6;}
	}